svg {
  transform: rotate(-90deg);
}
.progress-ring {
  fill: none;
}
.progress-bar {
  fill: none;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  transition: stroke-dashoffset 0.3s;
  stroke-linecap: butt;
}
.hidden {
  display: none;
}
.animate {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(270deg);
  }
}
